<h1>All articles</h1>
<% @articles.each do |article|%>
  <h2>This is the article <%= article.id%></h2>
  <p>
    <strong>Article title</strong> <br>
    <%=article.title%>
  </p>
  <p>
    <strong>Article detail</strong> <br>
    <%=article.body%>
  </p>
<%end%>