// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.article-container {
  display: flex;
  align-items: center;
}
.article-item {
  margin-left: 1rem;
  a {
    margin-left: 0.5rem;
  }
}